<%= form_tag jogging_times_path, method: :get, remote: true do %>
    <div class="card mb-4">
        <div class="card-header text-start">
            <h5>Filter jogging times by date</h5>
        </div>
        <div class="card-body">
            <div class="row d-flex justify-content-center my-">
            <div class="col-md-3">
                <%= label_tag :from_date, "From Date" %>
                <%= date_field_tag :from_date, params[:from_date], class: "form-control" %>
            </div>
            <div class="col-md-3">
                <%= label_tag :to_date, "To Date" %>
                <%= date_field_tag :to_date, params[:to_date], class: "form-control" %>
            </div>
            <div class="col-md-3 d-flex justify-content-center my-2">
                <%= submit_tag "Filter", class: "btn btn-primary" %>
            </div>
        </div>
        </div>
    </div>
<% end %>
