<% provide(:button_text, 'Save') %>

<section class="pt-4">
    <div class="container">
        <% if current_user.user? %>
            <div id="weekly_report_modal"><%= render 'jogging_times/weekly_report' %></div>
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="container px-0">
                        <%= render 'jogging_times/form' %>
                    </div>
                </div>
                <div class="col-md-8 text-center ps-5">
                        <h2><strong>Jogging times</strong></h2>
                        <%= render 'jogging_times/filter' %>
                    <div class="row">
                        <div id="jogging_times"><%= render 'jogging_times/jogging_times' %></div>
                    </div>
                </div>
            </div>
        <% elsif current_user.admin? %>
            <div class="container">
                <h3 class="text-center my-4">Jogging Times</h3>
                <%= link_to "Save new jogging time", new_jogging_time_path, class: "btn btn-primary my-3" %>
                <%= render 'jogging_times/jogging_times' %>
            </div>
        <% end %>
    </div>
</section>



