<!DOCTYPE html>
<html>
  <head>
    <title>JtTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
    <% if notice %>
    <div class="alert alert-success" role="alert">
      <p class="notice"><%= notice %></p>
    </div>
    <% elsif alert %>
    <div class="alert alert-danger" role="alert">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>

    </div>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
